@{
	ViewBag.Title = "Rentals";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="button" class="btn btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "Rentals")'" />
<input type="button" class="btn btn-primary" value="Create Multiple" onclick="location.href='@Url.Action("CreateMultiple", "Rentals")'" />

<br />
<br />

<table id="rentals" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Rental</th>
			<th>Movie</th>
			<th>Customer</th>
			<th>Date Rented</th>
			<th>Date Returned</th>
			<th>Return?</th>
			<th>Delete?</th>
		</tr>
	</thead>
	<tbody />
</table>

@section scripts
{
	<script src="/Content/Static/js/index.min.js"></script>
	<script src="/Content/Static/js/alerts.min.js"></script>
	<script src="/Content/Static/js/Rentals/list.min.js"></script>
}