<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<configSections>
		<section name="glimpse" type="" xdt:Transform="Remove" xdt:Locator="Match(name)" />
		<sectionGroup name="elmah" xdt:Transform="Remove" xdt:Locator="Match(name)" />
	</configSections>

	<appSettings xdt:Transform="Remove"/>
	<connectionStrings xdt:Transform="Remove"/>

	<system.web>
		<httpModules xdt:Transform="Replace">
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
		</httpModules>
		<httpHandlers xdt:Transform="Replace"/>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" xdt:Transform="Replace">
			<remove name="RoleManager" />
			<remove name="FormsAuthentication" />
			<remove name="ApplicationInsightsWebTracking" />
			<remove name="TelemetryCorrelationHttpModule" />

			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
		</modules>
		<handlers xdt:Transform="Replace"/>
	</system.webServer>

	<elmah xdt:Transform="Remove"/>
	<glimpse xdt:Transform="Remove"/>
	<location xdt:Transform="Remove"/>

</configuration>