@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="movies" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Movie</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Date Added</th>
			<th>Number Rented</th>
			<th>Number in Stock</th>
		</tr>
	</thead>
	<tbody />
</table>

@section scripts
{
	<script src="/Content/Static/js/index.min.js"></script>
	<script>
		/* global jQuery: false, $: false */
		$(document).ready(function ()
		{
			const columns =
				[
					{
						render: function (data, type, movie)
						{
							return `<a href='/movies/details/${movie.id}'>${movie.name}</a>`;
						}
					},
					{
						data: "genre.name"
					},
					{
						data: "releaseDate"
					},
					{
						data: "dateAdded"
					},
					{
						data: "numberRented"
					},
					{
						data: "numberInStock"
					}
				];

			// Initialize the table
			indexModule.initializeIndex('movie', 'Movie', '/api/movies/', columns);
		});
	</script>
}