body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
	max-width: 280px;
}

.field-validation-error
{
	color: red;
	font-weight: bold;
	text-transform: lowercase;
}

.field-validation-error span
{
	display: block
}

.field-validation-error span::first-letter
{
	text-transform: uppercase;
}

.input-validation-error
{
	border: 2px solid red;
}

.validation-summary-errors
{
	color: red;
}

.confirmed-contact
{
	color: green;
}

.unconfirmed-contact
{
	color: red;
}

a.navbar-brand:hover
{
	color:black
}

a.navbar-brand:focus
{
	color: black
}

table
{
	border-collapse: separate;
	border-spacing: 10px 5px;
	float: none !important;
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control
{
	line-height: 18px !important;

}