@{
	ViewBag.Title = "Confirm Email";
}

<div>
	<p>
		Thank you for confirming your email. Please @Html.ActionLink("click here to be redirected", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
	</p>
</div>