@{
	ViewBag.Title = "Login Failure";
}

<h2>Associate your @ViewBag.LoginProvider account</h2>
<hr />

<hgroup>
	<h2>@ViewBag.Title.</h2>
	<h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>

<p class="text-info">
	Unsuccessful login with <strong>@ViewBag.LoginProvider</strong>
</p>