@{
	ViewBag.Title = $"Associate your {ViewBag.LoginProvider} account";
}

<hgroup>
	<h2>Login Failure</h2>
	<h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>

<p class="text-info">
	Unsuccessful login with <strong>@ViewBag.LoginProvider</strong>
</p>