@{
	ViewBag.Title = "Register confirmation";
}

<h2>@ViewBag.Title</h2>
<hr/>

<div>
	<p>
		Your registration has been completed and a confirmation email has been sent. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) after receiving it.
	</p>
</div>