/* HTML */
html
{
	height: 100vh;
}

/* BODY */
body
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.body
{
	height: 100%;
	min-height: 100%;
	margin-bottom: 50px;
	flex: auto;
}

.body-content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* HEADER */
.header
{
	padding-left: 15px;
}

/* FOOTER */
.footer
{
	height: 50px;
	padding: 0;
}

	.footer > .container > hr
	{
		margin-top: 5px;
		margin-bottom: 10px;
	}

.dl-horizontal dt
{
	white-space: normal;
}

/* NAVBAR */
.navbar
{
	height: 50px;
	margin: 0;
	padding: 0;
	border-bottom: 4px solid gray;
}

.navbar-brand
{
	width: 60px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	background-color: transparent;
	border-bottom: 3px solid transparent;
	transition: border-bottom ease-in-out .15s;
	padding: 0;
}

	.navbar-brand:focus,
	.navbar-brand:hover,
	.navbar-brand.active
	.navbar-brand-focus,
	.navbar-brand-hover,
	.navbar-brand-active
	{
		font-weight: bolder;
		border-bottom: 3px solid #fff;
		padding: 0;
		color: #fff;
	}

.navbar-nav > .nav-item > a.nav-link
{
	width: 90px;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	transition: border-bottom ease-in-out .15s;
	padding-bottom: 10px;
}

	.navbar-nav > .nav-item > a.nav-link:focus,
	.navbar-nav > .nav-item > a.nav-link:hover,
	.navbar-nav > .nav-item.active > a.nav-link
	.navbar-nav > .nav-item > a.nav-link-focus,
	.navbar-nav > .nav-item > a.nav-link-hover,
	.navbar-nav > .nav-item-active > a.nav-link
	{
		color: #fff;
		font-weight: bolder;
		padding-bottom: 5px;
		border-bottom: 3px solid #fff;
	}

/* ALERTIFY */
.ajs-message
{
	color: white;
	font-weight: bold;
	border: whitesmoke 2px solid;
}

.alertify-notifier .ajs-message.ajs-warning
{
	background: orange;
}

/* BOOTBOX */
.bootbox .modal-header
{
	flex-direction: row-reverse;
}

.bootbox .modal-footer
{
	flex-direction: row-reverse;
}

/* VALIDATION */
.field-validation-error
{
	color: red;
	font-weight: bold;
	text-transform: lowercase;
}

	.field-validation-error::first-letter
	{
		text-transform: uppercase;
	}

	.field-validation-error span
	{
		display: block
	}

		.field-validation-error span::first-letter
		{
			text-transform: uppercase;
		}

.input-validation-error
{
	border: 2px solid red;
}

.validation-summary-errors
{
	color: red;
	font-weight: bold;
}

/* CONTACTS */
.confirmed-contact
{
	color: green;
}

.unconfirmed-contact
{
	color: red;
}

/* TABLES */
table
{
	border-collapse: separate;
	border-spacing: 10px 5px;
	float: none !important;
}

/* INPUTS */
input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control
{
	line-height: 18px !important;
}

input,
select,
textarea
{
	max-width: 280px;
}
