@model Vidly.Models.Customer
<h2>@Model.Name</h2>
<ul>
	@{
		if (Model.BirthDate.HasValue)
		{
			<li>Birth Date: @Model.BirthDate</li>
		}
		else
		{
			<li>Birth Date: Unknown</li>
		}
	}
	<li>Membership: @Model.MembershipType.Name</li>
	<li>Discount Rate: @Model.MembershipType.DiscountRate</li>
</ul>