@model Vidly.ViewModels.Customers.ListViewModel

@{
	ViewBag.Tile = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
	<text>No customers have been added yet.</text>
}
else
{
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Customer</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Model.Customers)
			{
				<tr>
					<td>
						<a href="@Url.Action("Details", "Customers", new {id = customer.ID})">@customer.Name</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}