@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="button" class="btn btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "Customers")'" />

<br />
<br />

<table id="customers" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Membership</th>
			<th>Discount Rate</th>
			<th>Delete?</th>
		</tr>
	</thead>
	<tbody />
</table>

@section scripts
{
	<script src="/Content/Static/js/index.min.js"></script>
	<script src="/Content/Static/js/alerts.min.js"></script>
	<script>
		/* global jQuery: false, $: false */
		$(document).ready(function ()
		{
			const columns =
			[
				{
					render: function(data, type, customer) { return `<a href='/${name}/edit/${customer.id}'>${customer.name}</a>`; }
				},
				{
					data: "membershipType.name"
				},
				{
					data: "membershipType.discountRate"
				},
				{
					render: function(data, type, customer) { return `<button class='btn btn-danger js-delete' data-customer-id='${customer.id}'>Delete</button>`; }
				}
			];

			// Initialize the table
			indexModule.initializeIndex('customer', 'Customer', '/api/customers/', columns);
		});
	</script>
}