@{
	ViewBag.Title = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="button" class="btn btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "Users")'" />

<br />
<br />

<table id="users" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>User</th>
			<th>Fiscal Number</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Two Factor?</th>
			<th>Roles</th>
			<th>Delete?</th>
		</tr>
	</thead>
	<tbody />
</table>

@section scripts
{
	<script>
		$(document).ready(function()
		{
			var table = $("#users").DataTable
			({
				ajax:
				{
					url: "/api/users",
					dataSrc: ""
				},
				columns:
				[
					{
						render: function (data, type, user) {
							return `<a href='/users/edit/${user.id}'>${user.userName}</a>`;
						}
					},
					{
						data: "fiscalNumber"
					},
					{
						render: function (data, type, user)
						{
							var span = "<span class='";

							if (user.emailConfirmed)
								span += "confirmed-contact";
							else
								span += "unconfirmed-contact";
							
							span += "' data-toggle='tooltip' title='The email is ";

							if (user.emailConfirmed)
								span += "confirmed";
							else
								span += "unconfirmed";

							span += (`'>${user.email}</span>`);

							return span;
						}
					},
					{
						render: function (data, type, user)
						{
							var span = "<span class='";

							if (user.phoneNumberConfirmed)
								span += "confirmed-contact";
							else
								span += "unconfirmed-contact";

							span += "' data-toggle='tooltip' title='The phone number is ";

							if (user.phoneNumberConfirmed)
								span += "confirmed";
							else
								span += "unconfirmed";

							span += (`'>${user.phoneNumber}</span>`);

							return span;
						}
					},
					{
						render: function (data, type, user)
						{
							if (user.twoFactorEnabled)
							{
								return "<span class='confirmed-contact'>Enabled</span>";
							}
							else
							{
								return "<span class='unconfirmed-contact'>Disabled</span>";
							}
						}
					},
					{
						data: "roles"
					},
					{
						render: function (data, type, user)
						{
							return `<button class='btn btn-danger js-delete' data-user-id='${user.id}'>Delete</button>`;
						}
					}
				],
				"drawCallback": function()
				{
					$('[data-toggle="tooltip"]').tooltip();
				}
			});

			$("#users").on("click", ".js-delete", function()
			{
				var button = $(this);

				bootbox.confirm("Are you sure you want to delete this user?", function(result)
				{
					if (result)
					{
						$.ajax
						({
							url: `/api/users/${button.attr("data-user-id")}`,
							method: "DELETE",

							success: function()
							{
								toastr.success("User successfully deleted.");
								table.row(button.parents("tr")).remove().draw();
							},

							error: function(xhr)
							{
								const error = JSON.parse(xhr.responseText);
								toastr.error(`An error occurred:${error.message}`);
							}
						});
					}
				});
			});
		});
	</script>
}